<div class="single">

  {{#with data}}

    <div class="single-card card mb-3"">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{this.image}}" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3> {{this.title}}</h3>
            <h4 class="card-title"> Director: {{this.director}}</h4>
            <h6> Stars: </h6>
            <ul class="list-stars">
              {{#each stars}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
            <p class="card-text">{{this.description}}</p>
            <iframe class="video" width="600" height="400" src="{{this.movieUrl}}"></iframe>
            </ul>
          </div>
        </div>
      </div>
    </div>

  {{/with}}

</div>
